body {
background: #DD7FD3;
}
#title {
  
}
#email {
  margin: 0;
     position: absolute;
     top: 50%;
     left: 40%;
     margin-right: -50%;
}
#phone
{
  margin: 0;
     position: absolute;
     top: 45%;
     left: 40%;
     margin-right: -50%;
}
#dateOfBirth {
  margin: 0;
     position: absolute;
     top: 40%;
     left: 40%;
     margin-right: -50%;
}

#everything {
  display: flex;
  flex-wrap: wrap
}
@media only screen and (min-width: 400px){

}
